.base {
  @apply
  bg-blue-700
  text-white
  py-1.5 px-3
  rounded
  transition
  text-sm

  hover:bg-blue-800
  disabled:opacity-50
}

.soft {
  @apply
  bg-gray-100
  text-gray-700

  hover:bg-gray-200
}

.danger {
  @apply
  bg-red-600
  text-white

  hover:bg-red-700
}

.link {
  @apply
  bg-transparent
  text-blue-600
  p-0

  hover:bg-transparent
  hover:text-blue-500
}

.pale {
  @apply
  bg-yellow-600
  text-gray-100

  hover:bg-transparent
  hover:text-gray-50
}